<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E2E Test Suite">
    <parameter name="url" value="https://www.saucedemo.com/v1/index.html"/>
    <parameter name="username" value="standard_user"/>
    <parameter name="password" value="secret_sauce"/>
    <parameter name="firstName" value="Black"/>
    <parameter name="lastName" value="Mamba"/>
    <parameter name="zip" value="999"/>
    <parameter name="browser" value="EDGE" />

    <test name="Login, Add to Cart, and Checkout">
        <classes>
            <class name="com.juaracoding.Hook" />
            <class name="com.juaracoding.LoginTest" />
            <class name="com.juaracoding.ProductTest" />
            <class name="com.juaracoding.CheckOutTest" />
        </classes>
    </test>
</suite>